hw5.dtd

<!DOCTYPE Products [
<!ELEMENT Products (Prod+)>
<!ELEMENT Prod (Details|Quantity|Unit_Price|Loc)>
<!ATTLIST Prod ProdID ID #REQUIRED>
<!ELEMENT Details (Short_Desc | Long_Desc)>
<!ELEMENT Short_Desc #PCDATA>
<!ELEMENT Long_Desc #PCDATA>
<!ELEMENT Quantity #PCDATA>
<!ELEMENT Unit_Price #PCDATA>
<!ENTITY Loc >
]>